<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <link href="/lib/ratchet/css/ratchet.css" rel="stylesheet">
</head>
<body>
<!--这里是后台模板-->
<div class="content">
    <div class="content-padded">{% autoescape false %}{{content}}{% endautoescape %}</div>
</div>

{%include "../tpl/download.html"%}
</body>
</html>