<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2016各省市艺术类统考信息汇总</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <link href="/lib/ratchet/css/ratchet.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/school.css">
</head>
<body>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div id="m-content-box" class="content">
    <div id="m-school-header" class="m-school-header" style="color: #fff;">
        2016各省市艺术类统考信息汇总
    </div>
    <div id="m-tongkao" class="m-tongkao">
        <ul class="table-view">
            {%for key in data %}
            <div class="m-school-title">{{loop.key}}</div>
                {% for row in data[loop.key] %}
                    {% if row.type == 0 %}
                        <li class="table-view-cell">{{row.title}}：{{row.content || "--"}}</li>
                    {% else %}
                        <li class="table-view-cell"><a class="navigate-right" href='/tongkao/info/{{row.id}}'>{{row.title}}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{%include "../tpl/download.html"%}
</body>
</html>