.y-header{
    border-bottom: 1px solid #cccccc;
    display: flex;
    height: 3rem;
    line-height: 3rem;
}

.y-header > div{
    flex: 1;
    font-size: 1.6rem;
    text-align: center;
    border-right: 1px solid #cccccc;
}

.y-header > div:last-child{
    border-right: none;
}

.y-filter-box{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 3rem;
    background-color: #fff;
    overflow-x: auto;
    padding: 5px 10px;
    display: none;
}

.y-filter-box span{

}

.y-filter-item{
    font-size: 1.6em;
    display: inline-block;
    margin: 3px 5px;
    border: 1px solid #dedede;
    border-radius: 4px;
}

.y-filter-item-positive{
    border-color: #387ef5 !important;
}

.y-filter-bar{
    position: fixed;
    width:100%;
    bottom: 0;
    left:0;
    right:0;
    height: 4em;
    line-height: 4em;;
    background-color: #fff;
}

.y-btn-confirm, .y-btn-cancel{
    height:2em;
    border-radius: 4px;
    padding: 5px 10px;
}
.y-btn-confirm{
    border:1px solid deepskyblue;
}
.y-btn-cancel{
    border:1px solid #ccc;
}
.y-filter-content{
    padding-bottom: 3em;
}

.y-school-item{
    /*border-top:1px solid #cccccc;;*/
}
hr{
    margin:0;
    padding:0;
}


