<div id="m-download-box" style="width:100%;height:50px;line-height:50px;;position:fixed;bottom:0;left:0;right:0;background-color:#428bca;color:#fff;">
    <span style="font-size:12px;padding-left:10px;">明星艺考app上线啦，现在去下载</span>
    <div style="position:absolute;right:30px;top:12px;">
        <!--<a class="btn btn-positive" href="http://mobile.baidu.com/simple?action=content&docid=8538383&ala=&qq-pf-to=pcqq.c2c" data-ignore="push" target="_blank">安卓</a> -->
        <a class="btn btn-positive" href="https://appsto.re/cn/lrRH_.i" data-ignore="push" target="_blank">ios</a>
    </div>
    <span id="m-download-close" class="icon icon-close" style="position:absolute;top:0;right:0;" onclick="close_download_box()"></span>
</div>

<script type="text/javascript">
    function close_download_box(){
        document.getElementById("m-download-box").style.display="none";
    }
</script>