<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学校详情</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <link href="/lib/ratchet/css/ratchet.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/school.css">
</head>
<body>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div id="m-content-box" class="content">
    <div id="m-school-header" class="m-school-header"></div>
    <div id="m-school-enrollment" class="m-school-enrollment"></div>
    <div id="m-school-info" class="m-school-info"></div>
    <div id="m-school-major" class="m-school-major"></div>
    <div id="m-school-score" class="m-school-score"></div>
    <div id="m-school-enrollment-old" class="m-school-enrollment"></div>
</div>

{%include "../tpl/download.html"%}
<script type="text/javascript" src="/lib/jquery.js"></script>
<script type="text/javascript" src="/lib/mustache.js"></script>
<!-- Include the compiled Ratchet JS -->
<script src="/lib/ratchet/js/ratchet.js"></script>
<script type="text/javascript" src="/js/school.js"></script>

<script type="text/mustache" id="ms-school-header">
    <img class="m-school-logo" src="[[logo]]">
    <h3 class="m-school-name">[[name]]</h3>
    <div class="m-school-tag">
        [[#list]]
            <span class="btn btn-positive">[[&.]]</span>
        [[/list]]
    </div>
</script>

<script type="text/mustache" id="ms-school-info">
    <div class="m-school-title">学校信息</div>
    <ul class="table-view">
        <li class="table-view-cell">院校类型：[[schoolType]]</li>
        <li class="table-view-cell">学院性质：[[nature]]</li>
        <li class="table-view-cell">录取批次：[[recruitOrder]]</li>
        <li class="table-view-cell">招收人数：[[recruitTotalNum]]</li>
        <li class="table-view-cell"><a class="navigate-right" href='/school/intro/[[id]]'>学校简介</a></li>
        <li class="table-view-cell">学校地址：[[address]]</li>
        <li class="table-view-cell"><a href='tel:[[telephone]]'>学校电话：[[telephone]]</a></li>
    </ul>
</script>

<script type="text/mustache" id="ms-school-major">
    <div class="m-school-title">专业信息</div>
        [[#cate_list]]
        <div class="m-school-sub-title"><span>[[cate]]</span></div>
        <ul class="table-view">
            [[#list]]
            <li class="table-view-cell">
                <!--<a class="navigate-right" href='/school/major/[[id]]'>-->
                <a class="navigate-right" href='#'>
                    [[name]]
                </a>
            </li>
            [[/list]]
        </ul>
        [[/cate_list]]
</script>

<script type="text/mustache" id="ms-school-enrollment">
    <div class="m-school-title" style="background-color:#d9534f">2016最新动态</div>
        <ul class="table-view">
            [[#list]]
            <li class="table-view-cell">
                <a class="navigate-right" href='/school/enrollment/[[id]]'>
                    [[title]]
                </a>
            </li>
            [[/list]]
        </ul>
</script>

<script type="text/mustache" id="ms-school-enrollment-old">
    <div class="m-school-title">历届招生简章</div>
    <ul class="table-view">
        [[#list]]
        <li class="table-view-cell">
            <a class="navigate-right" href='/school/enrollment/[[id]]'>
                [[title]]
            </a>
        </li>
        [[/list]]
    </ul>
</script>

<script type="text/mustache" id="ms-school-score">
    <div class="m-school-title">历届考试分数线</div>
    <ul class="table-view">
        [[#list]]
        <li class="table-view-cell">
            <a class="navigate-right" href='/school/score/[[id]]'>
                [[title]]
            </a>
        </li>
        [[/list]]
    </ul>
</script>

</body>
</html>