.m-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /*padding: 5px;*/
    width: 100%;
}

.m-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px 0;
    width: 100%;
}

.table-view{
    margin-bottom: 0;
    border-bottom: none;
}

/*.content{*/
    /*padding-top: 0 !important;*/
    /*margin-top: 44px;*/
/*}*/