.content > .table-view:first-child {
    margin-top: 0;
}

.m-logo {
    width: 50px;
    height: 50px;
}

.m-iscroll-box {
    overflow: hidden;
}

.m-school-tip {
    display: block;
    padding: 5px;
    width: 300px;
    margin: 5px auto;
    text-align: center;
}

.m-control-item {
    display: table-cell;
    width: 1%;
    padding-top: 6px;
    padding-bottom: 7px;
    overflow: hidden;
    line-height: 1;
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #ccc;
}

.m-control-item:first-child{
    border-left: none;
}

.m-control-item-active{
    background-color: #cccccc;
}