.m-school-header {
    position: relative;
    background: url("../image/school_bg.jpg") no-repeat;
    background-size:cover;
    text-align: center;
    padding: 15px 0;
}

.m-school-logo {
    width: 80px;
    height: 80px;
}

.m-school-name {
    color: #fff
}

.m-school-tag > span {
    margin: 2px;
}

.m-school-title {
    background-color: #428bca;
    padding: 8px;
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.m-school-sub-title {
    background-color: #e4e4e4;
    margin: 0;
    color: #555;
    font-size: 14px;
    margin: 0;
}

.m-school-sub-title > span{
    padding: 3px 8px;
    margin: 0;
    background-color: #d9534f;
    color: #fff;
}