.survey-menu.mui-table-view.mui-grid-view .mui-table-view-cell a{
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #ddd;
}



/*简介样式*/
.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}
.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}
.mui-preview-header {
    height: 44px;
    top: 0;
}
.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}
.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}
.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}
.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}
.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.mui-preview-loading.mui-active {
    display: block;
}
.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}
.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.img-box{
    text-align: center;
    padding: 10px;
}
.img-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile-hd{
    margin: 15px;
    border-bottom: 1px dashed #000;
}
.profile-hd small{
    color: #6764ab;
}
.text-indent{
    text-indent: 2em;
}
.img-text{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.big,.small{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.small{
    font-size: 18px;
}
.teacher-media{
    border: 1px solid #ddd;
    box-shadow: 0 0 15px #666;
    background: #ddd;
    margin-bottom: 15px;
}
.teacher-media .text-indent{
    padding: 10px;
}



/*师生天地*/
.mainmenu {
    overflow: hidden;
    padding: 20px 0px 50px;
    position: relative;
    height: 100%;
    margin: 0;
}
.mainmenu li {
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    height: 130px;
    margin-bottom: 3%;
}
.mainmenu li a p {
    position: relative;
    width: 100%;
}
.mainmenu li:nth-child(2n+1) a p {
    position: absolute;
    bottom: -30%;
}
.mainmenu li a p img {
    width: 98px;
    height: 98px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px #fff ,0 0 0 3px #ccc;
    background-color: #ccc;
}
.mainmenu li a p i {
    height: 2px;
    background-color: #ccc;
    width: 50%;
    position: absolute;
    z-index: -1;
}
.mainmenu li:nth-child(2n+1) a i {
    right: 0px;
    top: 35%;
}
.mainmenu li:nth-child(2n+2) a i {
    left: 0px;
    top: 35%;
}
.mainmenu li a p b {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #505359;
}
.mainmenu .line {
    height: 100%;
    width: 2px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
}
.introduces{
    color: #000;
    text-align: left;
}
.red{
    color: rgb(192, 0, 0);
}
.details-title{
    border-top: 2px solid rgb(172, 29, 16);
    padding: 3px 0;
    margin-bottom: 20px;
}
.details-title .text{
    background: rgb(172, 29, 16);
    padding: 8px;
    color: #fff;
    font-weight: bold;
}
.details-title .delta{
    display: inline-block;
    height: 0;
    margin-bottom: -12px;
    border-top: 35px solid rgb(172, 29, 16);
    border-right: 35px solid transparent;
}

/*联系方式*/
.contact{
    position: absolute;
    right: -5px;
    top: 0px;
    overflow: inherit;
    margin: 0;
    opacity: 0.8;
}
.hidden{
    display: inline-block;
    position: absolute;
    padding: 30px;
    top: 380px;
    right: -30px;
    background: #ccc;
    border: 1px solid #999;
    border-radius: 100%;
    opacity: 0.6;
}
.hidden span{
    position: absolute;
    left: 5px;
    top: 18px;
}

.contact-box{
    width: 120px;
    height: 140px;
    position: absolute;
    right: 0;
    top: 234px;
    overflow: hidden;

}
body{
    position: relative;
}
.introduces p{
    padding: 0 20px;
}
.time-top img{
    width: 100%;
    height: auto;
}
.time-content{
    padding: 15px 15px;
}
.sendWord{
    font-size: 13px;
    padding: 10px 15px 10px 10px;
    border: 1px solid #999999;
    line-height: 24px;
}
.phase{
    margin-top: 30px;
}
.month{
    width: 60px;
    height: 42px;
}
.month span{
    display: block;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    width: 56px;
    height: 18px;
    background-color: red;
    opacity: 0.8;
    margin: 0 2px;
}
.month-p{
    width: 60px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 0px;
    box-shadow: 0px 2px 3px #999;
}
.phase-h3{
    font-size: 20px;
    line-height: 42px;
    margin: 0 0 0 15px;
}
.phase-content{
    padding: 15px 20px 10px 10px;
    font-size: 14px;
}
.phase-content-p{
    color: #000000;
    font-size: 14px;
    margin-bottom: 15px;
}
.span-color{
    color: #8f8f94;
}


















